<!DOCTYPE html>
<HTML ng-app="teljs">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/teljs/src/tel.js"></script>
    <script src="bower_components/teljs/src/metadatalite.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Tel.js by michaelkrog</title>
</head>

<body>
    <header>
        <div class="inner">
            <h1>Tel.js</h1>
            <h2>A directive for input type &#39;tel&#39;.</h2>
            <a href="https://github.com/michaelkrog/tel.js" class="button"><small>View project on</small>GitHub</a>
        </div>
    </header>

    <div id="content-wrapper">
        <div class="inner clearfix">
            <section id="main-content">
                <h3>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Welcome to Tel.js</h3>
                <p>
                    This is a simple demo of tel.js.
                </p>
                <p>
                    The following input field is of type 'tel' and is therefore formatted as a phone number. You can type in any valid phone number with countrycode(fx. +45 for Denmark, +46 for Sweden etc.) and it will automatically format it according to the country's formatting tradition.
                    </p>
                    <p>
                        The phone number will also be validated so you can take advantage of the in Angulars forms. The validation even takes valid number ranges for the specific country into consideration.
                        For example '+45 22 33 44 55' is a valid Danish phone number but '+45 11 22 33 44' is not, because Denmark has no number ranges starting with '1'. 
                    </p>
                    <p>
                    You should also try out swedish numbers which has a very diverse way of formatting numbers. Fx. '+46 120 123 45' and '+46 11 01 23 45' are both valid formats depending of the number range.
                    </p>
                    <p ng-init="number='+4522334455'">
                        <form name="telform">
                            <input name="number" type="tel" ng-model="number"><span style="color:red" ng-if="!telform.number.$valid">invalid</span>

                        </form>
                    </p>


            </section>

            <aside id="sidebar">
                <a href="https://github.com/michaelkrog/tel.js/zipball/master" class="button">
                    <small>Download</small>
                    .zip file
                </a>
                <a href="https://github.com/michaelkrog/tel.js/tarball/master" class="button">
                    <small>Download</small>
                    .tar.gz file
                </a>

                <p class="repo-owner">
                    <a href="https://github.com/michaelkrog/tel.js"></a>is maintained by <a href="https://github.com/michaelkrog">michaelkrog</a>.</p>

                <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
            </aside>
        </div>
    </div>


</body>

</html>
