<!DOCTYPE html>
<html ng-app="teljs">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>TelJS Demo</title>
        <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
        <script src="tel.js"></script>
        <script src="tel_meta.js"></script>

    </head>
    <body>
        <p ng-init="numberDK=''">
            Danish National Number<br>
            <input type="tel" international="false" ng-model="numberDK" default-area-code="45"><br>
            Result: {{numberDK}}
        </p>
        
        <p ng-init="numberSE=''">
            Swedish National Number<br>
            <input type="tel" international="false" ng-model="numberSE" default-area-code="46"><br>
            Result: {{numberSE}}
        </p>
        
        <p ng-init="numberInt=''">
            International Number<br>
            <input type="tel" ng-model="numberInt" ><br>
            Result: {{numberInt}}
        </p>
    </body>
</html>
